body {
  font-family: Arial; 
  margin: 0;           
}

header {
  background-color: navy;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.content {
  padding: 20px;
}

.profile {
  width: 150px ;
}


footer {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px;
}

